* {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #401F68;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-style: italic;
  font-weight: bold;
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

p {
  font-size: 1em;
}

body {
  margin: 0;
  padding: 0;
}

header {
  border: 1px solid red;
  margin-left: 18%;
  height: 100px;
  padding: 1em;
  text-align: center;
}

main {
  border: 1px solid blue;
  margin-left: 18%;
  padding: 1em;
}

footer {
  border: 1px solid green;
  margin-left: 18%;
  font-size: 6pt;
  padding: 1em;
}

section {
  border: 1px solid orange;
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 1em 0 0 0;
}

/***** Navigation Bar *****/
nav {
  margin: 0;
  padding: 0;
  width: 18%;
  height: 100%;
  position: fixed;
  overflow: auto;
  border: 1px solid purple;
  top: 0;
  background: #401F68; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#401F68, #836EAA); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#401F68, #836EAA); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#401F68, #836EAA); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#401F68, #836EAA); /* Standard syntax */
}

nav ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

nav li {
    color: white;
}

nav a {
  text-decoration: none;
  padding: 1em;
  text-align: center;
  margin-left: 20px;
  color: white;
}

nav li:hover {
  background-color: #E4E0EE;
}

nav li:hover i, nav li:hover a, nav li:hover .arrow{
  color: #401F68;
}

nav i {
  font-size: 3em;
  vertical-align: middle;
  color: white;
}

nav .dropcontent {
  display: none;
  font-size: 0.8em;
}

nav .active .dropcontent {
  display: inline-block;
}

nav .active .dropcontent a {
  margin-left: 50px;
}

nav .active .dropcontent li:hover {
  background-color: #B6ACD1;
}

#top {
  padding: 1em;
  display: none;
}

nav .arrow {
  font-size: 2em;
  color: white;
}

/***** Text Stylings *****/
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.smallText {
  font-size: 10pt;
}
