* {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #401F68
}

/********** Header Styling **********/
header {
  border-bottom: 1px solid #401F68;
}

header h1 {
  text-align: center;
}

/***** Header Navigation Bar *****/
header ul {
  list-style-type: none;
  margin: 0 auto;
  width: 800px;
  padding: 0;
  overflow: hidden;
  background-color: white;
  text-align: center;
}

header li {
  float: left;
  width: 200px;
}

header li:hover {
  background-color: #E4E0EE;
}

header li a {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
}

header li a i {
  font-size: 2.5em;
  vertical-align: middle;
}

header .dropmenu .dropcontent {
  display: none;
  position: absolute;
  background-color: #E4E0EE;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

header .dropmenu:hover .dropcontent {
  display: block;
}

header .dropmenu .dropcontent a {
  float: none;
  padding: 1em;
  text-decoration: none;
  display: block;
}

header .dropmenu .dropcontent li:hover {
  background-color: #B6ACD1;
}

/***** Sub-Navigation bar *****/
nav {
  font-size: 10px;
  border-bottom: 1px solid #401F68;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0 auto;
  width: 875px;
  padding: 0;
  overflow: hidden;
  background-color: white;
  text-align: center;
}

nav li {
  float: left;
  width: 175px;
}

nav li:hover {
  background-color: #E4E0EE;
}

nav li a {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
}

nav li a i {
  font-size: 4em;
  vertical-align: middle;
}

/***** Main Content Styling *****/
main {
  margin-top: 100px;
}

p {
  margin-left: 20px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.smallText {
  font-size: 10pt;
}
