/***** Navbar Styling *****/
nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #4E2A84;
  width: 100%;
}

nav ul {
  list-style-type: none;
}

nav li {
  margin-left: 30px;
}

nav a {
  display: none;
  text-align: left;
  text-decoration: none;
  font-size: 1em;
  padding: 0.75em 0em;
}

nav a, nav i {
  color: white;
}

nav i {
  font-size: 2em;
}

nav .menuIcon, nav .closeMenuIcon {
  margin-left: 0;
}

nav .menuIcon a, nav.show .closeMenuIcon a {
  display: block;
  text-align: center;
}

nav.show a {
  display: block;
}

nav.show .menuIcon a {
  display: none;
}

/***** Main Body *****/
main {
  margin-top: 75px;
}
