article {
  border: 1px solid yellow;
  width: 59%;
  float: left;
}

article img {
  width: 85%;
  padding: 0.5em auto 0.5em auto;
}

figure {
  border: 1px solid indigo;
  margin: 0 auto auto 60%;
  width: 39%;
}

figure img {
   width: 100%;
}

figure figcaption {
  text-align: center;
  font-size: 8pt;
}

.logo {
  width: 8%;
  vertical-align: middle;
}
