* {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #401F68;
}

.dropcontent {
  display: none;
}

.active .dropcontent {
  display: block;
}

header {
  text-align: center;
  padding: 1em;
}
